*{margin:0px;
    padding: 0px;
}

body{
    background: white;
    margin:auto;
    height : 150px;
    
}

#top {

    height: 40px;
    padding: 20px;
    margin:auto;
    display: block;
    color: white;
    border: 1px solid black;
    background:#58738d
}
.vertical{

    border-right: 1px solid black; 
    height: 800px;
    width:800; 
    position: absolute; 
    left:20%; 
    top:81px;
    

} 
 form {
      text-align: center;
      margin: 25px;
      width: 40px auto;
      padding : 30px;
      font-size: 20px;
    
 }
 input[type=text]{
      padding :10px;
      width: 400px;
      margin:20px;
      
 }
    
#button{
    padding:8px;
    width: 13%;
    background-color: #58738d;
    color: white;
}
.profile {
   
    padding-top :10px;
    width: 100px;
    height: 100px;
    border-radius: 70%;
    float: left;
    margin:10px;
  }
     
 #name{ 
     margin-top:50px;
     font-size: 20px;
     color: rgb(85, 78, 78);
     
 }
    



