 body{ 

    background: #f4f4f4;
}
.navbar{
    min-height: 30px !important;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-nav > li > a{
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}
.navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
  }
 .navbar-default {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffbbbc;
    background-color:  #c0392b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #c0392b}
  
  .button:active {
    background-color: #c0392b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  input{
    margin-top: 20px;
  }
  .main-color-bg{
      background-color: #e74c3c !important;
      border-color: #c0392b !important;
      color: #ffffff !important;
  }
#header{

    background-color: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.breadcrumb{
    background-color: #cccccc;
    color: #333333;
}
.breadcrumb > li > a:hover{
  color: blue;
  background-color: #cccccc;
}
.breadcrumb a{
    color: #333333;
}
.dash-box{
    text-align: center;
}

#footer{
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
#message{
  color: red;
  font-size: large;

}


  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffbbbc;
      background-color: #c0392b;
    }
  }