<!-- <div style="text-align:center">

  <h1>{{title}}!</h1>

  <br>

  <h2>X : {{x}}</h2>



  <h2>Y : {{y}}</h2>



  <h2>X + Y = {{x + y}}</h2>

</div> -->


<!--The content below is only a placeholder and can be replaced.-->

<!-- click stage 1-->

<!-- <div style="text-align:center">

  <h1>{{title}}!</h1>

  <br>

  <h2>X : {{x}}</h2>



  <h2>Y : {{y}}</h2>



  <h2>X + Y = {{x + y}}</h2>



  <button (click)="increment()">Increment</button>

</div> -->

<!--The content below is only a placeholder and can be replaced.-->


<!-- click stage 2-->

<!-- <div style="text-align:center">

  <h1>{{title}}!</h1>

  <br>

  <h2>X : {{x}}</h2>



  <h2>Y : {{y}}</h2>



  <h2>X + Y = {{x + y}}</h2>



  <button (click)="incrementX()">Increment X</button>

  <button (click)="incrementY()">Increment Y</button>

</div> -->

<!-- Advance  stage 1-->

<!-- <div style="text-align:center">

  <h1>Welcome to {{title}}!</h1>

</div> -->


<!--The content below is only a placeholder and can be replaced.-->

<!-- Advance  stage 2-->

<!-- <div class="panel1">

  <div style="text-align:center">
  
    <h1>Welcome to {{title}}!</h1>
  
  </div> -->



  <!--The content below is only a placeholder and can be replaced.-->

  <!-- Advance  stage 3-->

<div class="panel1">

  <div style="text-align:center">
  
    <h1>Welcome to {{title}}!</h1>
  
  </div>
  
  <app-my-stack></app-my-stack>
  
  </div>
  
  </div>