<div class="jumbotron">

    <h1 class="display-3" style="text-align:Center">Queue</h1>
  
    <div class="form-group">
  
       <textarea disabled style="height:10em" class="form-control">{{data}}</textarea>
  
    </div>
  
    <div class="input-group">
  
      <span class="input-group-btn">
  
          <button type="button" class="btn btn-outline-info">Enqueue</button>
  
      </span>
  
      &nbsp;
  
      <input type="text" class="form-control" placeholder="Enter a Value">
  
      &nbsp;
  
      <span class="input-group-btn">
  
          <button type="button" class="btn btn-outline-danger">Dequeue</button>
  
      </span>
  
    </div>
  
  </div>
